
.starter-template {
font-size: 18px;
  text-align: center;
  
}

.row {
padding:10px;

}
#splash{
background: #8BC34A;
color:white;
 padding: 20px 0;
 font-size: 18px;
}

#jizhu{
background: #8BC34A; /* #F6A74E;*/
color:white;
 padding: 20px 0;
 font-size: 18px;
}

#tixing{
background: white;
color:black;
 padding: 20px 0;
 font-size: 18px;
}

.fengexian{
border-right:solid white 1px;
}

#tixing   div.fengexian{
border-right: solid black 1px;
}

#tianxie{
background: #8BC34A;
color:white;
 padding: 20px 0;
 font-size: 18px;
}